{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Income list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Incometitle</th>
                <th>Incomeamount</th>
                <th>Incomedate</th>
                <th>Incomecreateddate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('income_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.incomeTitle }}</td>
                <td>{{ entity.incomeAmount }}</td>
                <td>{% if entity.incomeDate %}{{ entity.incomeDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.incomeCreatedDate|date('Y-m-d') }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('income_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('income_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('income_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
